.fullContainer {
  /* Este es el fondo azul, no lo borrare para dejarlo de ejemplo
  background-image: radial-gradient(#d5f3ff 0%, #51b4e8 100%);
  background-image: cover; */
  height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.nav {
  padding-top: 3%;
  display: flex;
  justify-content: center;
  gap: 19%;
  font-size: 25px;
}
.boxcontainer {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
/* h2 {
  color: #0e68c9;
  margin-top: 20px;
} */

.searchForm input {
  width: 390px;
  height: 30px;
  border-radius: 10px;
  padding-left: 1rem;
  border: none;
  background-color: whitesmoke;
  /* font-weight: bold; */
}
.searchForm > input:focus::-webkit-input-placeholder {
  color: transparent;
}
.weatherBox {
  padding: 10px;
  color: #0e68c9;
  border: none;
  border-radius: 30px 100px 30px 30px;
  background-image: linear-gradient(#e5f2ff 0%, #d5f3ff 97.4%);
  display: flex;
  gap: 10%;
}

@keyframes floatAnimation {
  0%,
  100% {
    transform: translateY(0); /* Posición inicial y final */
  }
  50% {
    transform: translateY(-20px); /* Posición en la mitad de la animación */
  }
}


.weatherBox_LeftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.weatherBox_RightSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}
.temperature {
  font-family: "Lato", sans-serif, "Oswald";
  font-size: 95px;
  font-weight: 300;
}
.humidity_speed {
  font-size: 13px;
}
.country {
  font-size: 23px;
  font-weight: bold;
}
img {
  width: 230px;
  height: 200px;
   animation: floatAnimation 4s ease-in-out infinite; /* 4 segundos de duración, aceleración suave, infinito */
}
.description {
  font-size: 17px;
  text-align: center;
}
.buttons {
  display: flex;
  gap: 10px;
}
.btnChange {
  width: 178px;
  height: 38px;
  background-color: #38a0d8;
  color: white;
  font-size: 17px;
  border-radius: 12px;
  border: none;
  transition: 0.5s;
}
.btnChange:hover {
  background-color: #2e8cbe;
  cursor: pointer;
  transition: 0.5s;
  transform: translateY(-5px);
}
.btnChange:active {
  background-color: #38a0d8;
}
.btnMyLocation {
  width: 100px;
}
@media (min-width: 320px) and (max-width: 500px) {
  .nav {
    font-size: 15px;
  }
  .temperature {
    font-size: 55px;
  }
  .humidity_speed {
    font-size: 10px;
  }
  .country {
    font-size: 13px;
    font-weight: bold;
  }
  img {
    width: 100px;
  }
  .description {
    font-size: 10px;
  }
  .btnChange {
    width: 128px;
    height: 28px;
    font-size: 12px;
  }
  .searchForm input {
    width: 210px;
    font-size: 10px;  
  }
}
